.opacity:hover {
    opacity: 1 !important;
    transition: opacity 0.3s ease-in-out;
  }

.control-dots li    {
   background-color: var(--accent-two   ) !important;
}

.css-xdmu94-MuiContainer-root {
  /*border: 2px solid var(--accent) !important;*/
  height: 100% !important;
  width: 100%;

}

.MuiCard-root.carousel-card {
  margin: 0 !important;
}

