/*Overwrite mui default selected style for the itemButtonList when selected*/
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: var(--dark-background) !important;
}


/*IMAGE ANIMATION SECTION*/

.mainPara.pulse {
  animation: pulseAnimation 4s infinite;
}
 
.secondBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 0 2rem;
  position: relative;
}

.image {
  width: 50%;
  height: 50%;
  transform: rotateX(-15deg) rotateY(35deg);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 10;
  left: 10;
  width: 60%;
  height: 60%;
  transition: transform 0.3s ease-in-out;
  transform: rotateX(-15deg) rotateY(35deg);
  border: 2px solid var(--accent);
  background-color: var(--dark-background-two);
}

.overlay:hover {
  transition: transform 0.3s ease-in-out;
  animation: moveLeft 4s forwards;
  animation-play-state: running;
}

.overlay:hover .mainPara {
  animation-play-state: paused;
}

.secondBoxContainer:hover .image,
.secondBoxContainer:hover .overlay {
  transform: rotateX(-20deg) rotateY(40deg);
  left: 10;
  cursor: pointer;
} 

@keyframes moveLeft {
  0% {
      left: 20%; 
      top: 19.6%;
      border-color: var(--accent);
  }
  25%{
      border-color: var(--text);


  }
  50% {
      left: 5%;
      top: 19.6%;
      border-color: var(--accent-two);
  }

  75%{
      border-color: var(--text);
  }

  100% {
    left: 20%; 
    top: 19.6%;
    border-color: var(--accent);
  }
}

@keyframes pulseAnimation {
  0% {
    filter: brightness(1);
    transform: scale(1);
    opacity: 1;

  }
  50% {
    color: var(--accent-two);
    transform: scale(1.01);
    opacity: 0;

  }
  100% {
    filter: brightness(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes borderAnimation {
  0% {
    border-color: var(--accent);
  }

  50% {
    border-color: var(--accent);
  }
 
  60% {
    border-color: var(--accent-two);
  }

  100% {
    border-color: var(--accent);
  }
}

@keyframes colorSkill {
  0% {
    color: var(--accent);
  }

  50% {
    color: var(--accent);
  }
 
  60% {
    color: var(--accent-two);
  }

  100% {
    color: var(--accent);
  }
}

/* MEDIA QUERY */

@media screen and (max-width: 240px) { 
  .mainPara {
    font-size: 5px !important;
    margin-left: -2rem !important;
  }

  .header-text {
    font-size: 25px !important;
  }

  .second-list {
    margin-top: -5rem !important;
  }

  .second-list-text {
    font-size: 10px !important;
  }


}

@media screen and (min-width: 241px) and (max-width: 320px) {
  .mainPara {
      font-size: 7px !important;
      margin-left: -1rem !important;
    }

  .second-list-text {
      font-size: 13px !important;
    }

}

@media screen and (max-width: 1024px) and (min-width: 1000px) and (max-height: 800px) and (min-height: 780px) {
  .overlay {
    width: 50%;
    height: 50%;
   
  }

  .image {
    width: 40%;
    height: 40%;
  }

  .secondBoxContainer {
    margin-top: -4rem;
  }
}



