:root {
    --dark-background: #121212;
    --dark-background-two: rgb(8, 8, 8);
    --accent: #CDFF59 ;
    --accent-two: #800080;
    --accent-three: #1D061A;
    --text: #d4ffd4 ;
    --main-font: 'Calibre','Inter','San Francisco','SF Pro Text',system-ui,sans-serif;
    --second-font: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
}